.like-btn {
    button{
        @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-border-radius-sm);

        &.thumbs-up-btn {
            @include button-outline-variant($success,$success);
            &:hover {
                color: color-contrast($success);
            }
        }
        &.thumbs-down-btn {
            @include button-outline-variant($danger,$danger);
            &:hover {
                color: color-contrast($danger);
            }
        }
    }
}

.like-comment-btn {
    button {
        padding: map-get($spacers, 1);
        &.thumbs-up-btn {
           color: $success;
        }
        &.thumbs-down-btn {
            color:$danger;
        }
    }
}

.delete-btn {
    @include button-outline-variant($danger, $danger);
    @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-border-radius-sm);
    &:hover {
        color: color-contrast($danger);
    }
}

.share-btn {
    @include button-outline-variant($primary, $primary);
    @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-border-radius-sm);
    &:hover {
        color: color-contrast($primary);           // Texte → lisible automatiquement
    }
}

.comment-btn {
    @include button-outline-variant($secondary, $secondary);
    @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-border-radius-sm);
    &:hover {
        color: color-contrast($secondary);
    }
}

.cover-image-edit-btn {
    @include button-variant($secondary, $secondary);
    box-shadow: var(--bs-box-shadow);
}

.publish-btn {
    @include button-variant($primary, $primary);
    box-shadow: var(--bs-box-shadow-sm);
}

.follow-btn {
    @include button-variant($primary, $primary);
    @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-border-radius-sm);

    &.followed {
        @include button-variant($warning, $warning);
    }
}

.notification-btn {
    @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-border-radius-sm);
    padding: 0;

    .notification-badge {
        border-radius: $border-radius-pill;
        background-color: $danger;
    }
}