.comments-list {
    margin: 0 map-get($spacers, 2);

    & > .comments-list-inner {
        @extend .border-top;
    }

    .comments-filters-wrapper {
        @extend .d-flex;

        h2 {
            @extend .fs-4;
        }

        .comments-filter {
            @extend .w-100;
            @extend .d-grid;
            @extend .justify-content-md-end;
        }
    }

    .comments-list-tools {

        .comment-form-wrapper {

            .comment-form-inner {

                .comment-form-header {
                    display: flex;
                    width: 100%;

                    label {
                        margin: 0.5rem;
                    }

                    .comment-form-tools {
                        flex-grow: 1;

                        .close-btn {
                            float: right
                        }
                    }
                }

                .comment-form-body {
                     margin: 0 0.5rem;
                }
            }
        }

        .comment-counter {
            @extend .btn;
            padding-bottom: 0;
            padding-left: 0;
            padding-right: 0;
        }
    }

    .comments-list-inner{
        position: relative;
        z-index: 1;

        .comment {
            backdrop-filter: brightness(60%);
            @extend .px-2;
            @extend .pt-2;
            @extend .d-flex;
            @extend .border-start;
            @extend .border-bottom;
            @extend .rounded;
            @extend .mb-2;

            .author-image {
                max-width: 25px;
                max-height: 25px;
            }

           .comment-inner{
                @extend .w-100;
                @extend .ms-2;

                .comment-header{
                    @extend .d-flex;
                    @extend .align-items-end;

                    .date {
                        @extend .ms-2;
                        @extend .me-2;
                        @extend .text-muted;
                        @extend .fw-lighter;
                        @extend .fst-italic;
                    }
                }

                .comment-body {

                    .comment-content {
                        @extend .my-2;
                    }

                    .comment-tools {
                        // @extend .d-flex;
                        // @extend .justify-content-between;
                        display: flex;
                        justify-content: space-between;
                        padding: 0 0.25rem;
                    }
                }

                .comment-footer {
                    @extend .mb-2;
                }
           }
        }
    }
}