.post-wrapper {
    padding: 0.5rem!important;

    .post-header {
        padding: 0;
        width: 100%;

        .post-header-inner {
            display: flex;
            width: 100%;

            .post-user-wrapper {
                display: flex;
                flex-grow: 1;
            }

            .post-infos-wrapper {
                display: flex;
                text-align: right;
                flex-direction: column ;

                .date {
                    flex-grow: 1;
                }

                .shared {
                    margin-left: map-get($spacers, 3);
                }
            }
        }
    }

    .post-body {
        margin: map-get($spacers, 2) 0;

        .post-content {
            border: $border-width $border-style $border-color;
            border-radius: $border-radius;
            padding: map-get($spacers, 2);
        }
    }

    .post-footer {
        display: flex;
        justify-content: space-between;
        padding: 0 map-get($spacers, 1);
    }
}
