.post-wrapper {
    @extend .card;
    @extend .p-2;

    box-shadow: 0 8px 30px rgba(0,0,0,.05)!important;

    .post-header {
        @extend .card-body;
        @extend .p-0;
        width: 100%;

        .post-header-inner {
            @extend .d-flex;
            width: 100%;

            .post-user-wrapper {
                @extend .d-flex;
                @extend .flex-grow-1;

                .post-user-infos {
                    @extend .d-flex; 
                    @extend .flex-column;
                }
            }

            .post-infos-wrapper {
                @extend .d-flex; 
                text-align: right;
                @extend .flex-column;

                .date {
                    @extend .flex-grow-1;
                }

                .shared {
                    @extend .ms-3;
                }
            }
        }
    }

    .post-body {
        @extend .my-2;

        .post-text {
            @extend .card-text;
            @extend .border;
            @extend .rounded;
            @extend .p-2;
        }
    }

    .post-footer {
        @extend .card-body;
        @extend .d-flex;
        @extend .p-0;

        .post-footer-inner-left {
            @extend .flex-grow-1;
        }
    }
}
