$message_width: 60%;

@import './widgets/_buttons.scss';
@import './widgets/_post.scss';
@import './widgets/_comments.scss';
@import './widgets/_user.scss';
@import './components/_server.scss';
@import './components/_chat.scss';
@import './components/_wall.scss';
@import './components/_conversations.scss';
@import './components/_users_list.scss';
@import './views/_wall.scss';
@import './views/_feed.scss';
@import './views/_servers.scss';
@import './views/_users_list.scss';

#system-socializer {
    grid-column: -4 / span 3;
    grid-row: 1;
    align-self: center;
  
    #main-socializer-navbar {
        @include base-nav;

        li {
            a {
                font-size: 2rem;
                span {
                    display: none;
                }

                &.active {
                    color: $secondary;
                }
            }
        }
    }

    .reponse-rapide {
        @extend .card;
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 300px;
        z-index: 20;
    }
}

.message-wrapper {
    @extend .d-flex;
    @extend .align-items-start;
    @extend .position-relative;

    &.is-me {
        @extend .justify-content-end;
    }

    .message-outer {
        @include media-breakpoint-up(lg) {
            max-width: $message_width;
        }

        @include media-breakpoint-down(lg) {
            max-width: 100%;
        }
        
        @extend .mb-2;

        .message-infos {
            @extend .d-flex;
            @extend .justify-content-between;

            .date {
                @extend .ms-2;
                @extend .color-white;
                @extend .fst-italic;
                @extend .fw-lighter;
            }
        }

        .message-inner {
            @extend .card;
            @extend .bg-secondary;
            @extend .shadow;
            @extend .border;

            &.is-me {
                @extend .bg-primary;
            }
            
            .message {
                @extend .card-body; 
                @extend .d-flex;
                @extend .flex-column;
                @extend .align-items-start;
                @extend .p-2;

                .slz-post-link {
                    cursor: pointer;
                    transition: box-shadow 0.2s;
                }
                .slz-post-link:hover {
                    box-shadow: 0 0 10px rgba(0,0,0,0.2);
                }

                .video-wrapper {
                    @extend .ratio;
                    @extend .ratio-16x9;
                }
            }

            audio {
                @extend .p-2;
            }

            .files {
                .file-infos {
                    @extend .d-flex;
                    @extend .m-2;

                    .file-size {
                        @extend .text-muted;
                        position: absolute;
                        right: 5px;
                        bottom: 5px;
                    }
                }
            }
        }

        .emoji-list {
            @extend .list-unstyled;

            li {
                @extend .d-inline;
                @extend .badge;
                @extend .border; 
                @extend .border-light; 
                @extend .text-bg-light; 
                @extend .rounded-pill;
            }
        }

        &:has(iframe) {
            width: $message_width;
        }
    }

    .message-tools-inner {
        @extend .d-flex;
        @extend .align-items-center;
        @extend .text-bg-light;
        @extend .border;
        @extend .rounded;
        @extend .shadow;

        .dropdown-menu {
            margin-top: -2px!important;
        }
    }
}

.video-wrapper {
    @extend .ratio;
    @extend .ratio-16x9;
    @extend .my-2;

    iframe {
        @extend .rounded;
    }
}

#videoContainer{
    z-index: 10;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap-reverse; /* Les nouvelles vidéos apparaissent en bas */
    gap: 5px;
    width: auto;
}  

.draggable-video {
    position: relative;
    cursor: grab;
    user-select: none;
    @extend .bg-auto;
    @extend .shadow; 
    @extend .rounded;

    .video-tools-wrapper {
            @extend .position-absolute;
            top: 5px;
            left: 5px;
            width: 100%;

        .video-tools {
            display: flex;
            
            .user-info-wrapper {
                flex-grow: 1;

                .user-info {
                    @extend .badge;
                    @extend .text-bg-dark;
                }
            }

            .video-btns {
                display: none;
                @extend .btn-group;
                margin-bottom: map-get($spacers, 3);

                button {
                    @extend .btn;
                    @extend .btn-sm;
                    @extend .btn-outline-dark;
                }
            }

        }
    }

    .video-controls {
        @extend .btn-group;
        @extend .btn-group-sm;
        display: none;
        position: absolute;
        top: 10px;
        right: 5px;
        z-index: 2;
    }

    &:hover {
        .video-controls {
            display: block!important;
        }
    }

    video {
        width: 100%;
        height: auto;
        @extend .rounded;
        cursor: pointer;
    }
}

#notification-component-wrapper {
    @extend .shadow;
    position: fixed;
    z-index: 10;
    width: 450px;
    right: 10px;
    top: 5px;
}

#call-web-ui {
    @extend .shadow;
    @extend .me-3;
    position: sticky;
    z-index: 10;
    width: auto;
    @extend .btn-group;

    button {
        @extend .btn;
        @extend .btn-secondary;
        @extend .btn-sm;
    }

    .btn-stop-call {
        @extend .btn-danger;
    }
}

.form-designer {
    .fmd-form-placeholder,
    .form-designer-builder,
    .form-designer-render {
        @extend .container;
        @extend .mt-2;
    }
}

.toast-chat-notification {
    @extend .toast-container;
    @extend .position-fixed;
    @extend .bottom-0;
    @extend .end-0;
    @extend .p-3;

    .toast-header {
        @extend .d-flex;

        .toast-author {
            @extend .d-flex;
            @extend .align-items-center;
            @extend .flex-grow-1;
        }
        .toast-body {
            .message-inner {
                max-height: 300px;
                overflow-y: auto;
            }
        }
    }
}

/*--------------------------
| Bootstrap
---------------------------*/

.dropdown-menu {
    @extend .shadow;
    @extend .bg-auto;
    z-index: 11;
}

/*--------------------------
| Uppy
---------------------------*/
.uppy-DashboardContent-back {
    display: none;
}

/*--------------------------
| Transitions
---------------------------*/
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease;
}
.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

