#socializer-wall {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    
    .cover-wrapper {
        grid-column: 1 / 4;
        grid-row: 1;
        display: flex;
        @extend .justify-content-end;
        @extend .align-items-end;
        @extend .border; 
        @extend .rounded-2; 
        @extend .position-relative; 
        @extend .mb-5;
        height: 150px;
        background-size: cover;

        .avatar-cover {
            display: flex;
            align-items: end;
            position: absolute;
            left: -10px;
            bottom: -30px;

            .user-badge {
                display: flex;
                align-items: end;

                .user-badge-infos {
                    margin: 0 map-get($spacers, 2);
                    padding: map-get($spacers, 2);
                    background-color: rgba(0,0,0,0.5);
                    @include box-shadow($box-shadow-sm);
                    border: $border-width $border-style $border-color;
                    border-radius: $border-radius;
                    min-width: 200px;
                    height: fit-content;

                    .user-link {
                        color: $white;
                        font-size: $h2-font-size;
                    }

                    small {
                        font-size: $h6-font-size;
                    }
                }
            }
        }

        .tools-cover {
            @extend .btn-group;
            @extend .ms-3;
        }
    }

    .wall-wrapper {
        position: relative;
        grid-column: 1 / 4;
        grid-row: 2;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0 10px;
        grid-auto-rows: minmax(auto, auto);
        @include layout-container(10);

        .wall-owned-servers {
            
            grid-column: 1;
            grid-row: 1/3;

            &.owned-servers-widget {
                @extend .card;
                height: fit-content;

                .owned-servers-inner {
                    @extend .card-body;

                    h2 {
                        @extend .card-title;
                        @extend .m-0;
                        position: absolute;
                        top: -20px;
                    }

                    ul {
                        @extend .list-group;
                        @extend .list-group-flush;

                        li {
                            @extend .list-group-item;
                            @extend .px-0;

                            button {
                                @extend .btn;
                                @extend .btn-link;
                                @extend .p-0;

                                .icon-widget {
                                    @extend .text-warning;
                                }   
                            }
                        }
                    }
                }
            }
        }

        .wall-tools {
            position: fixed;
            right: 1rem;
            bottom: 1rem;
            z-index: 3;
            .publish-btn {
                @include large-btn;
                margin: 0!important;
            }
        }

        .feed-wrapper {
             grid-column: 2 / 5;
             grid-row: 2;
        }
    }
}